{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" alt="css" />


</head>
<body>

    <!-- navbar section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h4 class="fa-user"> My Portfolio </h4>

        </div>
        <div class="right-nav">
            <ul>
                <li>
                    <a href="#home" class="t-white roboto"> Home <i class="fa-solid fa-house"></i></a>
                
                
                    <a href="#about" class="t-white roboto"> About me <i class="fa-solid fa-user"></i></a>
                
               
                    <a href="#skills" class="t-white roboto"> Skills <i class="fa-solid fa-code"></i></a>
                
                <!--  <li>
          <a href="#projects" class="t-white roboto"> Projects <i class="fa-solid fa-project-diagram"></i></a>
      </li>-->
               
                    <a href="#Contact" class="t-white roboto"> Contact <i class="fa-solid fa-rocket"></i></a>

                </li>
            </ul>
        </div>
    </nav>

    <!--home section-->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flext items-center">
            <div class="home-content">
                <h6 class="popins"> Hello! I'm</h6>
                <h1 class="t-white"> Ashly Abaggue</h1>
                <h4 class="popinss">Graphics Designer</h4>
                <a href="{% static 'pdf/ashresume2.pdf' %}" target="_blank">
                    <form class="btn poppins">Resume</form>
                </a> <br>
                <a class="btn live poppins" id="" href="#Contact"
                   target="_blank">Let's Talk</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">

                <img src="{% static 'images/asli.png' %}" alt="mypic">
            </div>

        </div>
    </section>

    <!--About Section-->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">

                <img src="{% static 'images/ashy.png' %}" alt="mypic2" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Ashly Abaggue</h1>
                    <p class="t-white poppins">
                        My name is Ashly Abaggue. I am currently a student of STI College Sta. Maria under the course of Bachelor of Science in Information Technology.
                        As a student aspiring to become a full-time Graphic Designer, I am passionate about harnessing creativity to solve visual communication challenges. I thrive on transforming ideas into compelling designs that resonate with audiences and effectively convey messages.
                    </p>
                    <a class="btn " id="hireme"
                       href="">Hire Me</a>
                </div>
            </div>
        </div>
    </section>

    <!--Skills Section-->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
            <div class=" skills-left flex s-center items-center">
                <img src="{% static 'images/sdsds.png' %}" alt="pic">
            </div>

            <div class="skills-right flex items-center">
                <div class="skillss-container">
                    <div class="canva bar p-relative">
                        <span class="bar-content left t-white">Canva</span><span class="bar-content right-skills t-white">80%</span>
                    </div>
                    <div class="figma bar p-relative">
                        <span class="bar-content left t-white">Figma</span><span class="bar-content right-skills t-white">50%</span>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Me Section-->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post">
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                               required>
                    </div>

                    <div class="phone form-div">
                        <input type="tel" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                               required>
                    </div>

                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                                  placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!--Footer Section-->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <!-- <li><a href="#projects" class="poppinss">Projects</a></li>-->
            <li><a href="#portfolio" class="poppinss">Portfolio</a></li>
        </ul>

        <ul class="flex s-center w-80 font-awesome ">
            <li><a href="" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>


    </footer>

</body>
</html>
